.welcomeParallaxContainer {
  background-image: url("../../images/logo.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featuredWritersContainer {
  border: 2px solid red;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  h3 {
    text-align: center;
  }
}
.featuredNewsContainer {
  border: 2px solid red;
  margin-top: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  h3 {
    text-align: center;
  }
}
.featuredTopicsContainer {
  border: 2px solid red;
  margin-top: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  h3 {
    text-align: center;
  }
}