.welcomeParallaxContainer {
  background-image: url("../../images/logo.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}