.postIndexComponent {
  margin-left: 1em;
  margin-right: 1em;
}

.postImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.postItem {
  position: relative;
  border: 3px solid red !important;
  min-height: 200px;
  padding: 25px !important;
}

.postTimeStamps {
  position: relative;
  height: 50px;
  width: 100%;
  border: 4px solid red;
  //display: block;
}
.postCreated {
  position: absolute;
  left: 2%;
  top: 2%;
}
.postEdited {
  position: absolute;
  right: 2%;
  top: 2%;
}

.postSearchContainer {
  height: 200px;
  padding: 0.5em;
  box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  .postSearchContainerTitle {
    text-align: left;
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
}

.trendingPostsComponent {
  //border: 1px solid red;
  padding: 1em;
  margin-top: 15px;
  box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  .headerDiv {
    text-align: center;
    font-size: 1.25em;
  }
  .trendingPost {
    border-bottom: 1px solid black !important;
    padding-bottom: 1em !important;
  }
}
