.postIndexComponent {
  margin-left: 1em;
  margin-right: 1em;
}
//styles for post navbar
.postsNavbar {
  height: 50px;
  .sortPostsDropdown {
    margin-top: 1em;
    margin-left: 3em;
    > i {
      padding-left: 0.5em;
      color: red;
    }
    &:hover {
      color: red;
    }
  }
  .sortPostsTime {
    margin-top: 1em;
    margin-left: 3em;
    > i {
      padding-left: 0.5em;
      color: red;
    }
    &:hover {
      color: red;
    }
  }
  .sortValue {
    margin-top: 0.75em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    border: 0.5px solid red;
    border-radius: 5px;
    padding: 0 1em 0 1em;
    user-select: none;
  }
}
.menuDropdown {
  background-color: red;
}
//end style for post navbar

//styles for a post thumbnail
.postImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.postItem {
  position: relative;
  border: 1px solid rgb(180, 177, 177) !important;
  background-color: rgba(255, 255, 255, 0.904) !important;
  min-height: 200px;
  padding: 25px !important;
  -webkit-box-shadow: -1px 0px 4px 1px rgba(122,117,122,1) !important;
  -moz-box-shadow: -1px 0px 4px 1px rgba(122,117,122,1) !important;
  box-shadow: -1px 0px 4px 1px rgba(122,117,122,1) !important;
}
.postTimeStamps {
  position: relative;
  height: 50px;
  width: 100%;
  border: 4px solid red;
  //display: block;
}
.postCreated {
  position: absolute;
  right: 2%;
  top: 2%;
  :first-child {
    color: rgb(15, 13, 13);
    margin-right: 2px;
  }
  :nth-child(2) {
    color: rgb(26, 26, 230)
  }
}
.postEdited {
  position: absolute;
  right: 2%;
  top: 12%;
  :first-child {
    color: rgb(15, 13, 13);
    margin-right: 2px;
  }
  :nth-child(2) {
    color: rgb(26, 26, 230)
  }
}

.postLikeCount {
  .postLikeButton {
    display: inline-block;
  }
  display: inline-block;
  //border: 1px solid red;
  padding: 2px;
  margin-right: 2px;
  i {
    &:hover {
      color: rgb(5, 5, 175) !important;
      cursor: pointer;
    }
  }
  span {
    color: blue;
    &:hover {
      cursor: pointer;
    }
  }
}

.postDislikeCount {
  .postDislikeButton {
    display: inline-block;
  }
  display: inline-block;
  //border: 1px solid red;
  padding: 2px;
  margin-left: 2px;
  i {
    &:hover {
      color: rgb(247, 151, 8) !important;
      cursor: pointer;
    }
  }
  span {
    color: blue;
    &:hover {
      cursor: pointer;
    }
  }
}

//end styles for post thumbnail

.postSearchContainer {
  height: 200px;
  padding: 0.25em;
  box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  .postSearchContainerTitle {
    text-align: center;
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
}

.trendingPostsComponent {
  //border: 1px solid red;
  padding: 1em;
  margin-top: 15px;
  box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0px 5px 0px rgba(0,0,0,0.75);
  .headerDiv {
    text-align: center;
    font-size: 1.25em;
  }
  .trendingPost {
    border-bottom: 1px solid black !important;
    padding-bottom: 1em !important;
  }
}
