$information-phone: "only screen and (max-width : 414px)";
$information-tablet: "only screen and (max-width : 1024px)";
$information-desktop: "only screen and (min-width : 1025px)";

#mainMenu {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  @media #{$information-phone} {
    width: 100%;
  }
  @media #{$information-tablet} {
    width: 33%;
  }
  @media #{$information-desktop} {
    width: 10%;
  }
}

#innerMainMenu {
  height: 100vh;
  position: fixed;
  top: 0px;
  @media #{$information-phone} {
    width: 100%;
  }
  @media #{$information-tablet} {
    width: 33%;
  }
  @media #{$information-desktop} {
    width: 10%;
    left: 10%;
  }
}