#sidebarPushable {
  position: relative !important;
  transform: none;
  min-height: 100%;
}

#mainContent {
  background-color: rgb(214, 211, 211);
  overflow: auto;
  min-height: 100vh;
  padding-bottom: 50px;
}

#navbarDesktop {
  background-color: rgb(11, 60, 124);
  height: 50px;
  z-index: 10;
  a {
    font-size: 1.5em;
    color: white;
    &:hover {
      background-color: rgb(35, 74, 124);
    }
  }
}

// main menu on the left
#mainMenu {
  background-color: rgb(11, 60, 124);
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 50px;
  a {
    background-color: rgb(11, 60, 124);
    color: white ;
  }
}
//inner main on the left
#innerMainMenu {
  position: fixed;
  width: 300px;
  left: 100px;
  top: 50px;
}

//right desktop menu
#rightDesktopMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  background-color: white;
}