@import "./authorization/authorization.scss";
@import "./posts/post.scss";
html,
body {
  background-color: rgb(197, 206, 197);
  height: 100vh;
}

.postCreated {
  border: 4px solid red;
  color: green;
}